<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-trophy" aria-hidden="true"></i> Awards &amp; Recognition</h2>


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer (SSC Tools)</h3>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul class="awards">
                            <i class="fa fa-star" aria-hidden="true"></i> Star Performer of the year (FY 2015–16)
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->