<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer (SSC Tools)</h3>
                            <div class="time">Nov 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Worked in close collaboration with both the SSC Team offshore and onsite to gather requirements.</li>
                        <li>Responsible for design, development and deployment of tools for the SSC Team.</li>
                        <li>Responsible for the maintenance of the multiple tools used by the SSC Team.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer (SSC Tools)</h3>
                            <div class="time">Mar 2015 - Nov 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Responsible for design, development and deployment of tools for the SSC Team</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Support Engineer</h3>
                            <div class="time">Apr 2014 – Mar 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li>Responsible for recording events starting from outage discovery to resolution.</li>
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->