<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ruby On Rails Developer (iCloud SRE)</h3>
                            <div class="time">Mar 2017 - Feb 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Responsible for building and maintaining tooling used by iCloud SRE.</li>
                            <li>Helped build deployment pipelines based on an internal API, which allowed one click deploy.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer (SSC Tools)</h3>
                            <div class="time">Apr 2016 – Mar 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Worked in close collaboration with both the SSC Team offshore and onsite to gather requirements.</li>
                        <li>Responsible for design, development and deployment of tools for the SSC Team.</li>
                        <li>Responsible for the maintenance of the multiple tools used by the SSC Team.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Associate Developer (SSC Tools)</h3>
                            <div class="time">Mar 2015 - Apr 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                        <li>Responsible for design, development and deployment of tools for the SSC Team</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Support Engineer</h3>
                            <div class="time">Apr 2014 – Mar 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        <li>Responsible for recording events starting from outage discovery to resolution.</li>
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Engineer Trainee</h3>
                            <div class="time">Dec 2013 – Mar 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Tata Consultancy Services, Ahmedabad</div>
                    </div><!--//meta-->
                    <div class="details">
                    <ul>
                        
                    </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->